#m-main-page {
  display: flex;
  flex-direction: column; }
  #m-main-page .m-header .u-delete:hover {
    background-color: #2387e4; }

#m-main-page.v-delete .m-header {
  background-color: #e53935; }
#m-main-page.v-delete .m-keyword {
  display: block; }
#m-main-page.v-delete .u-detail {
  background-color: #e53935; }

#m-main-page:not(.v-delete) .m-keyword:hover {
  margin-top: -1em;
  border: 3px solid #2387e4; }
  #m-main-page:not(.v-delete) .m-keyword:hover .u-keyword {
    border: none; }
  #m-main-page:not(.v-delete) .m-keyword:hover .u-detail {
    background: #2387e4; }

.m-keyword-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh; }

.m-keyword {
  background-color: #fff;
  color: #24292e;
  box-sizing: border-box;
  width: 20vw;
  height: 250px;
  margin: 1vw;
  transition: margin-top, border, .3s; }
  .m-keyword > * {
    box-sizing: border-box;
    width: 100%; }
  .m-keyword .u-keyword {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5da;
    border-bottom: none;
    height: 80%;
    font-size: 2.5em; }
  .m-keyword .u-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #586069;
    color: #fff;
    height: 20%;
    transition: background-color .3s; }
  .m-keyword.v-fade-in {
    animation: fade-in .3s; }
  .m-keyword.v-fade-out {
    animation: fade-out .3s; }
  .m-keyword.v-hide {
    opacity: 0;
    margin-top: -10em; }
@keyframes fade-in {
  0% {
    margin-top: -10em;
    opacity: 0; }
  80% {
    margin-top: 1em; }
  100% {
    margin-top: 0;
    opacity: 1; } }
@keyframes fade-out {
  0% {
    margin-top: 0;
    opacity: 1; }
  80% {
    margin-top: -3em; }
  100% {
    margin-top: -10em;
    opacity: 0; } }
#m-category-page {
  display: flex;
  flex-direction: column; }

#m-category-page .g-page-container {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%; }
  #m-category-page .g-page-container .m-side-bar {
    width: 25%; }
  #m-category-page .g-page-container .m-product-area {
    width: 70%; }

.m-category-history {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.u-category-history-chart-box {
  margin-top: 100px;
  width: 600px;
  height: 500px; }

.m-side-bar {
  background-color: #fff;
  color: #24292e;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em; }

.m-tag-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1em; }
  .m-tag-area .u-tag {
    display: flex;
    margin: 0.2em;
    height: 2.4em; }
    .m-tag-area .u-tag .u-name {
      box-sizing: border-box;
      padding: .5em;
      background: #2387e4;
      color: white; }
    .m-tag-area .u-tag .u-weight {
      box-sizing: border-box;
      width: 2em;
      font-size: 1em;
      padding: .5em;
      background: #176dbd;
      color: white;
      outline: none;
      border: none; }

.m-filter-area {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #d1d5da;
  padding: 1em 1em; }
  .m-filter-area .u-filter {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0.2em;
    padding: .5em;
    height: 2.4em;
    background: #2387e4;
    color: white;
    transition: background-color .3s ease-in-out; }
    .m-filter-area .u-filter:hover {
      background: #176dbd; }
    .m-filter-area .u-filter.filter-select {
      background: #27aa45; }
  .m-filter-area .u-text-filter {
    box-sizing: border-box;
    margin: 0.2em;
    padding: .5em;
    height: 2.4em; }
  .m-filter-area .u-text-filter:focus {
    outline-color: #2387e4; }

.m-product-area {
  display: flex;
  flex-direction: column;
  align-items: center; }

.m-product-box {
  background-color: #fff;
  color: #24292e;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 1em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0); }
  .m-product-box > * {
    display: flex;
    align-items: center;
    height: 100%; }
  .m-product-box > img {
    width: 150px;
    object-fit: contain; }
  .m-product-box .title-box {
    flex-grow: 1; }
    .m-product-box .title-box h1 {
      font-size: 1.5em;
      font-weight: normal; }
  .m-product-box .score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px; }
  .m-product-box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1, 1.1); }

#m-category-page .v-fade-in {
  animation: fade-in .3s; }
#m-category-page .v-fade-out {
  animation: fade-in .3s reverse; }
@keyframes fade-in {
  0% {
    transform: scale(0.7, 0.7);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
body {
  background-color: #f6f8fa;
  color: #24292e;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif; }

.g-page-container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-top: 40px; }

.m-header {
  display: flex;
  align-items: center;
  background-color: #24292e;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 16px;
  font-size: 1.5em;
  transition: background-color .3s; }
  .m-header .u-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    transition: background-color .3s; }

.m-history {
  box-sizing: border-box;
  width: 100%;
  background-color: #2387e4;
  height: 0;
  overflow: hidden;
  transition: height .3s ease-in-out; }
  .m-history.show {
    height: 80vh; }

#m-category-page .m-header, #m-product-page .m-header {
  background-color: #2387e4; }
  #m-category-page .m-header .u-icon:hover, #m-product-page .m-header .u-icon:hover {
    background-color: #176dbd; }
  #m-category-page .m-header .circle.u-update, #m-product-page .m-header .circle.u-update {
    background-color: #176dbd; }
    #m-category-page .m-header .circle.u-update .icon, #m-product-page .m-header .circle.u-update .icon {
      animation: circle .8s infinite; }
@keyframes circle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
