@import "setting.scss";
@import "mainpage.scss";
@import "categorypage.scss";

body {
  @include bg-grey;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

.g-page-container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;

  margin-top: 40px;
}

.m-header {
  @include center-vertical;
  @include bg-black;

  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 16px;
  font-size: 1.5em;

  transition: background-color .3s;

  .u-icon {
    @include center-both;
    width: 64px;
    height: 64px;
    transition: background-color .3s;
  }
}


.m-history {
  box-sizing: border-box;
  width: 100%;
  background-color: $primeColor;
  height: 0;
  overflow: hidden;

  transition: height .3s ease-in-out;

  &.show {
    height: 80vh;
  }
}


#m-category-page .m-header, #m-product-page .m-header {

  background-color: $primeColor;

  .u-icon:hover {
    background-color: darken($primeColor, 10%);
  }

  .circle.u-update {

    background-color: darken($primeColor, 10%);

    .icon {
      animation: circle .8s infinite;
    }

    @keyframes circle {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

}